{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>DB-Dash</title>
    <!-- Link stylesheet-->
    <link rel="stylesheet" href="{% static 'css/log-dash.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>

<body class="bg-dark">

    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content" class="my-3 w-100 flex-wrap d-flex justify-content-center align-items-center">
            <main class="w-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-10 col-12">
                            <div class="card shadow-lg border-0 rounded-lg">
                                <!-- form data / card header-->
                                {% block content %} {% endblock %}
                                <!--endform-->
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        
        <div id="layoutAuthentication_footer">
            <footer class="py-2 py-sm-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="flex-wrap d-flex align-items-center justify-content-center justify-content-sm-between small">
                        <div class="text-muted">Data Server Footer</div>
                    </div>
                </div>
            </footer>
        </div>
        
    </div>

</body>

</html>
